@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Monstserrat";
    src: local("Monstserrat-Regular"),
    url("./assets/fonts/Monstserrat/Montserrat-Regular.ttf");
}

body {
    font-family: "Monstserrat", sans-serif;
}